
.CreateUser-roles {
    display: inline-block;
    text-align: center;
    padding: .2em;
}

.CreateUser-header-group {
    h5 {
        display: inline-block;
    }
}
.CreateUser-form-group {
    padding: .5em;
}