$noteself-color: #76BB7A;
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: lighten( $noteself-color, 10% );
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
