@import 'colors';

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: $noteself-light;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body {
  padding: 1em;
  max-width: 960px;
  margin: 0 auto;
}

.App-intro {
  font-size: large;
}
